In [ ]:
import pandas as pd

# üêº Read Files

### pd.read_csv()

In [ ]:
# df = pd.read_csv("matches.csv")

# üêº Convert to .csv, .xlsx, .json

### df = pd.DataFrame(), df.to_csv()

In [ ]:
student = {
    "name":["Ram", "Shyam", "Jodhu", "Modhu"],
    "age": [22, 21, 20, 22],
    "degree": ["B.Tech", "B.Com", "B.Sc", "BCA"]
}
df = pd.DataFrame(student)
print(df)

    name  age  degree
0    Ram   22  B.Tech
1  Shyam   21   B.Com
2  Jodhu   20    B.Sc
3  Modhu   22     BCA

In [ ]:
df.to_csv("student.csv", index=False)
 # automatically students.csv will be saved

In [ ]:
# df = pd.read_csv("matches.csv")
# by default displaying first 5 rows
df.head()

    name  age  degree
0    Ram   22  B.Tech
1  Shyam   21   B.Com
2  Jodhu   20    B.Sc
3  Modhu   22     BCA

In [ ]:
# by default displaying last 5 rows
df.tail()

    name  age  degree
0    Ram   22  B.Tech
1  Shyam   21   B.Com
2  Jodhu   20    B.Sc
3  Modhu   22     BCA

In [ ]:
# df = pd.read_csv("matches.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   age     4 non-null      int64
 2   degree  4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

In [ ]:
job = {
    "name":["Riya", "Shyam", "Baburao", "Raju", "Modhu"],
    "age": [22, 30, 54, 33, 22],
    "degree": ["B.Tech", "BBA", "B.Com", "B.Sc","BCA"],
    "salary": [30000, 50000, 25000, 27000,25000],
    "exp": [1,5,5,5,2],
    "status": ["married", "unmarried","unmarried","unmarried", "married"]
}
df = pd.DataFrame(job)
print("Original Dataset:\n",df)

Original Dataset:
       name  age  degree  salary  exp     status
0     Riya   22  B.Tech   30000    1    married
1    Shyam   30     BBA   50000    5  unmarried
2  Baburao   54   B.Com   25000    5  unmarried
3     Raju   33    B.Sc   27000    5  unmarried
4    Modhu   22     BCA   25000    2    married

In [ ]:
df.to_csv("job.csv")

In [ ]:
df.describe() # only on numerical column-data

           age        salary       exp
count   5.0000      5.000000  5.000000
mean   32.2000  31400.000000  3.600000
std    13.1225  10597.169433  1.949359
min    22.0000  25000.000000  1.000000
25%    22.0000  25000.000000  2.000000
50%    30.0000  27000.000000  5.000000
75%    33.0000  30000.000000  5.000000
max    54.0000  50000.000000  5.000000

In [ ]:
df.to_csv("job.csv",index=False)
print(df)

      name  age  degree  salary  exp     status
0     Riya   22  B.Tech   30000    1    married
1    Shyam   30     BBA   50000    5  unmarried
2  Baburao   54   B.Com   25000    5  unmarried
3     Raju   33    B.Sc   27000    5  unmarried
4    Modhu   22     BCA   25000    2    married

In [ ]:
# rows,cols
df.shape

(5, 6)

In [ ]:
df.columns

Index(['name', 'age', 'degree', 'salary', 'exp', 'status'], dtype='object')

In [ ]:
print(df["name"])

0       Riya
1      Shyam
2    Baburao
3       Raju
4      Modhu
Name: name, dtype: object

In [ ]:
df[df["salary"]>25000]

    name  age  degree  salary  exp     status
0   Riya   22  B.Tech   30000    1    married
1  Shyam   30     BBA   50000    5  unmarried
3   Raju   33    B.Sc   27000    5  unmarried

In [ ]:
df[(df["salary"]>25000) & (df["age"]>=30)]

    name  age degree  salary  exp     status
1  Shyam   30    BBA   50000    5  unmarried
3   Raju   33   B.Sc   27000    5  unmarried

In [ ]:
df[(df["salary"]>25000)|(df["age"]<25)]

    name  age  degree  salary  exp     status
0   Riya   22  B.Tech   30000    1    married
1  Shyam   30     BBA   50000    5  unmarried
3   Raju   33    B.Sc   27000    5  unmarried
4  Modhu   22     BCA   25000    2    married

###   üêº **Data Analysis with Pandas**

# üêº Adding Columns

### df["col_name"] = [ , , , , ,], df[ "col1","col2",... ] = list(zip( [ ],[ ] )), df.insert(idx, "col_name", [data])

In [ ]:
print(df)

      name  age  degree  salary  exp     status
0     Riya   22  B.Tech   30000    1    married
1    Shyam   30     BBA   50000    5  unmarried
2  Baburao   54   B.Com   25000    5  unmarried
3     Raju   33    B.Sc   27000    5  unmarried
4    Modhu   22     BCA   25000    2    married

In [ ]:
# inserting at the last
df["sex"]=["female","male","male","male","female"]
print(df)

      name  age  degree  salary  exp     status     sex
0     Riya   22  B.Tech   30000    1    married  female
1    Shyam   30     BBA   50000    5  unmarried    male
2  Baburao   54   B.Com   25000    5  unmarried    male
3     Raju   33    B.Sc   27000    5  unmarried    male
4    Modhu   22     BCA   25000    2    married  female

In [ ]:
df[["grade","slot"]] = pd.DataFrame({
    "grade": ["A","A+","B","A+","A"],
    "slot": ["night","day","night","day","night"]
})
print(df)

# df[["grade","slot"]] = list(zip(
#     ["A","A+","B","A+","A"],
#     ["night","day","night","day","night"]
# ))
# print(df)

      name  age  degree  salary  exp     status     sex grade   slot
0     Riya   22  B.Tech   30000    1    married  female     A  night
1    Shyam   30     BBA   50000    5  unmarried    male    A+    day
2  Baburao   54   B.Com   25000    5  unmarried    male     B  night
3     Raju   33    B.Sc   27000    5  unmarried    male    A+    day
4    Modhu   22     BCA   25000    2    married  female     A  night

In [ ]:
# df.insert(idx, "col_name", data)

In [ ]:
# 0 based indexing
df.insert(2,"city",["kolkata","chennai","bangalore","haryana","punjab"])
print(df)

      name  age       city  degree  salary  exp     status     sex grade  \
0     Riya   22    kolkata  B.Tech   30000    1    married  female     A
1    Shyam   30    chennai     BBA   50000    5  unmarried    male    A+
2  Baburao   54  bangalore   B.Com   25000    5  unmarried    male     B
3     Raju   33    haryana    B.Sc   27000    5  unmarried    male    A+
4    Modhu   22     punjab     BCA   25000    2    married  female     A

    slot
0  night
1    day
2  night
3    day
4  night

# üêº Updating values

### df.loc["row_idx", "col_name"] = new_value, df["col_name"] = [ ]

In [ ]:
# df.loc["row_idx", "col_name"] = new_value

In [ ]:
df.loc[0,"name"]="Anushka"
# Riya ----> Anushka
print(df)

      name  age       city  degree  salary  exp     status     sex grade  \
0  Anushka   22    kolkata  B.Tech   30000    1    married  female     A
1    Shyam   30    chennai     BBA   50000    5  unmarried    male    A+
2  Baburao   54  bangalore   B.Com   25000    5  unmarried    male     B
3     Raju   33    haryana    B.Sc   27000    5  unmarried    male    A+
4    Modhu   22     punjab     BCA   25000    2    married  female     A

    slot
0  night
1    day
2  night
3    day
4  night

In [ ]:
df["age"]=[15,15,15,15,15]
print(df)

      name  age       city  degree  salary  exp     status     sex grade  \
0  Anushka   15    kolkata  B.Tech   30000    1    married  female     A
1    Shyam   15    chennai     BBA   50000    5  unmarried    male    A+
2  Baburao   15  bangalore   B.Com   25000    5  unmarried    male     B
3     Raju   15    haryana    B.Sc   27000    5  unmarried    male    A+
4    Modhu   15     punjab     BCA   25000    2    married  female     A

    slot
0  night
1    day
2  night
3    day
4  night

# üêº Dropping Columns

In [ ]:
# df.drop(columns=["col1","col2"],inplace=True)

In [ ]:
print(df)

      name  age       city  degree  salary  exp     status     sex grade  \
0  Anushka   15    kolkata  B.Tech   30000    1    married  female     A
1    Shyam   15    chennai     BBA   50000    5  unmarried    male    A+
2  Baburao   15  bangalore   B.Com   25000    5  unmarried    male     B
3     Raju   15    haryana    B.Sc   27000    5  unmarried    male    A+
4    Modhu   15     punjab     BCA   25000    2    married  female     A

    slot
0  night
1    day
2  night
3    day
4  night

In [ ]:
df.drop(columns=["age"],inplace=True)

In [ ]:
print(df)

      name       city  degree  salary  exp     status     sex grade   slot
0  Anushka    kolkata  B.Tech   30000    1    married  female     A  night
1    Shyam    chennai     BBA   50000    5  unmarried    male    A+    day
2  Baburao  bangalore   B.Com   25000    5  unmarried    male     B  night
3     Raju    haryana    B.Sc   27000    5  unmarried    male    A+    day
4    Modhu     punjab     BCA   25000    2    married  female     A  night

In [ ]:
df.drop(columns=["degree","exp"],inplace=True)

In [ ]:
print(df)

      name       city  salary     status     sex grade   slot
0  Anushka    kolkata   30000    married  female     A  night
1    Shyam    chennai   50000  unmarried    male    A+    day
2  Baburao  bangalore   25000  unmarried    male     B  night
3     Raju    haryana   27000  unmarried    male    A+    day
4    Modhu     punjab   25000    married  female     A  night

# üêº Handling Missing Values

### df.isnull(), df.fillna(x,inplace=True)

In [ ]:
dataset = {
    "Name": ["Tirtha", None, "Virat", "Dhoni", None, "Sachin"],
    "Age": [22, None, 30, 54, 33, 64],
    "Degree": ["B.Tech", None, "BBA", "B.Com", None, "B.Sc"],
    "Salary": [30000, None, 50000, 25000, None, 27000],
    "Status": ["single", None, "married", "married", None, "single"],
    "Sex": ["male", None, "male", "male", None, "male"]
}

In [ ]:
df = pd.DataFrame(dataset)
print(df)

     Name   Age  Degree   Salary   Status   Sex
0  Tirtha  22.0  B.Tech  30000.0   single  male
1    None   NaN    None      NaN     None  None
2   Virat  30.0     BBA  50000.0  married  male
3   Dhoni  54.0   B.Com  25000.0  married  male
4    None  33.0    None      NaN     None  None
5  Sachin  64.0    B.Sc  27000.0   single  male

In [ ]:
df.isnull()

    Name    Age  Degree  Salary  Status    Sex
0  False  False   False   False   False  False
1   True   True    True    True    True   True
2  False  False   False   False   False  False
3  False  False   False   False   False  False
4   True  False    True    True    True   True
5  False  False   False   False   False  False

In [ ]:
df.isnull().sum()

Name      2
Age       1
Degree    2
Salary    2
Status    2
Sex       2
dtype: int64

In [ ]:
df.dropna(inplace=True)
print(df)

     Name   Age  Degree   Salary   Status   Sex
0  Tirtha  22.0  B.Tech  30000.0   single  male
2   Virat  30.0     BBA  50000.0  married  male
3   Dhoni  54.0   B.Com  25000.0  married  male
5  Sachin  64.0    B.Sc  27000.0   single  male

In [ ]:
dataset = {
    "Name"  : ["Tirtha", None, "Virat", "Dhoni", None, "Sachin"],
    "Age"   : [22, None, 30, 54, None, 50],
    "Degree": ["B.Tech", None, "BBA", "B.Com", None, "B.Sc"],
    "Salary": [30000, None, 50000, 25000, None, 27000],
    "Status": ["single", None, "married", "married", None, "single"],
    "Sex"   : ["male", None, "male", "male", None, "male"]
}
df = pd.DataFrame(dataset)
print(df)

     Name   Age  Degree   Salary   Status   Sex
0  Tirtha  22.0  B.Tech  30000.0   single  male
1    None   NaN    None      NaN     None  None
2   Virat  30.0     BBA  50000.0  married  male
3   Dhoni  54.0   B.Com  25000.0  married  male
4    None   NaN    None      NaN     None  None
5  Sachin  50.0    B.Sc  27000.0   single  male

In [ ]:
# filling up by default values
# df.fillna(x,inplace=True)
# print(df)

In [ ]:
# filling age col witn mean vaules of age
df["Age"].fillna(df["Age"].mean(),inplace=True)
print(df)

     Name   Age  Degree   Salary   Status   Sex
0  Tirtha  22.0  B.Tech  30000.0   single  male
1    None  39.0    None      NaN     None  None
2   Virat  30.0     BBA  50000.0  married  male
3   Dhoni  54.0   B.Com  25000.0  married  male
4    None  39.0    None      NaN     None  None
5  Sachin  50.0    B.Sc  27000.0   single  male

/tmp/ipython-input-4005911804.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(),inplace=True)

# üêº Estimation of Missing Values

In [ ]:
# Row Operation

In [ ]:
# df.interpolate(method='',axis=0/1, inplace=True)

In [ ]:
df = pd.DataFrame({
    "A": [1, 2, None, 4, None, 6, 7],
    "B": [10, 20, 30, None, 50, None, 70],
    "C": [2, None, 6, None, None, 12, 14]
})

In [ ]:
df.interpolate(method='linear',axis=0,inplace=True)
print(df)

     A     B     C
0  1.0  10.0   2.0
1  2.0  20.0   4.0
2  3.0  30.0   6.0
3  4.0  40.0   8.0
4  5.0  50.0  10.0
5  6.0  60.0  12.0
6  7.0  70.0  14.0

In [ ]:
# Column Operation

In [ ]:
df = pd.DataFrame({
    "A": [1, 2, None, 4, None, 6, 7],
    "B": [10, 20, 30, None, 50, None, 70],
    "C": [2, None, 6, None, None, 12, 14]
})
df.interpolate(method='linear',axis=1,inplace=True)
print(df)

     A     B     C
0  1.0  10.0   2.0
1  2.0  20.0  20.0
2  NaN  30.0   6.0
3  4.0   4.0   4.0
4  NaN  50.0  50.0
5  6.0   9.0  12.0
6  7.0  70.0  14.0

In [ ]:
df["C"] = df["C"].interpolate(method='linear',axis=0)
print(df)

     A     B     C
0  1.0  10.0   2.0
1  2.0  20.0  20.0
2  NaN  30.0   6.0
3  4.0   4.0   4.0
4  NaN  50.0  50.0
5  6.0   9.0  12.0
6  7.0  70.0  14.0

# üêº Sorting

In [ ]:
# df.sort_values(by=["col1","col2"], ascending=True, inplace = True)

In [ ]:
df = pd.DataFrame({
    "name": ['Sachin Tendulkar', 'Virat Kohli', 'MS Dhoni', 'Rohit Sharma', 'Pat Cummins',
            'Ben Stokes', 'AB De Villiers', 'Steve Smith', 'Jasprit Bumrah', 'Hardik Pandya'],
    "roll": [10,18,7,45,30,55,17,49,93,33],
    "age":  [20, 21, None, 22, 19, 23, 20, None, 21, 22],
    "marks":[96, 92, 97, 91, 96, 96, 92, 92, 97, 96]
})

In [ ]:
df.sort_values(by="name", ascending=True, inplace = True)
print(df)

               name  roll   age  marks
6    AB De Villiers    17  20.0     92
5        Ben Stokes    55  23.0     96
9     Hardik Pandya    33  22.0     96
8    Jasprit Bumrah    93  21.0     97
2          MS Dhoni     7   NaN     97
4       Pat Cummins    30  19.0     96
3      Rohit Sharma    45  22.0     91
0  Sachin Tendulkar    10  20.0     96
7       Steve Smith    49   NaN     92
1       Virat Kohli    18  21.0     92

# üêº Grouping

In [ ]:
# Single Grouping

In [ ]:
df = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT", "Finance", "Finance"],
    "Employee": ["A", "B", "C", "D", "E", "F"],
    "Salary": [3000, 3200, 4000, 4200, 3500, 3700]
})
# Group by Department and calculate average salary
result = df.groupby("Department")["Salary"].mean()
print(result)

Department
Finance    3600.0
HR         3100.0
IT         4100.0
Name: Salary, dtype: float64

In [ ]:
# Multiple Grouping

In [ ]:
df = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT", "Finance", "Finance"],
    "Employee": ["A", "B", "C", "D", "E", "F"],
    "Salary": [3000, 3200, 4000, 4200, 3500, 3700],
    "Shift" : ["day","night","day","day","night","day"]
})
# Group by Department and calculate average salary
result = df.groupby(["Department","Shift"])["Salary"].mean()
print(result)

Department  Shift
Finance     day      3700.0
            night    3500.0
HR          day      3000.0
            night    3200.0
IT          day      4100.0
Name: Salary, dtype: float64

# üêº Merging

In [ ]:
# pd.merge(df1, df2, on='', how="inner")

In [ ]:
df1 = pd.DataFrame({
    "id": [1, 2, 3],
    "name": ["Prerana", "Soumyadip", "Tirtha"]
})
df2 = pd.DataFrame({
    "id": [1, 2, 4],
    "salary": [30000, 50000, 25000]
})
merged = pd.merge(df1, df2, on="id", how="inner")
print(merged)

   id       name  salary
0   1    Prerana   30000
1   2  Soumyadip   50000

# üêº Concatenation

### df.concat([df1,df2])

In [ ]:
df1 = pd.DataFrame({
    "id": [1,2,3],
    "name": ["Prerana", "Soumyadip", "Tirtha"]
})
df2 = pd.DataFrame({
    "id": [4,5,6],
    "name": ["Raima","Nina","Soumyojit"]
})
result = pd.concat([df1, df2]) # default axis = 0
print(result)

   id       name
0   1    Prerana
1   2  Soumyadip
2   3     Tirtha
0   4      Raima
1   5       Nina
2   6  Soumyojit

In [ ]:
result = pd.concat([df1, df2], axis=1)
print(result)

   id       name  id       name
0   1    Prerana   4      Raima
1   2  Soumyadip   5       Nina
2   3     Tirtha   6  Soumyojit